li a {
    color: green;
}

body {
    background: white url("https://cdn-images-1.medium.com/max/1600/0*I-sI3u34g0ydRqyA") no-repeat;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}